.body {
   text-align-last: center;
   border: 5px solid gray;
   width: 500px;
   background-color: aliceblue;
      
}
button {
    
    padding: 7px 7px;
    font-size: 3px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 3px;
     
  }

button {
    font-size: larger;
}
button:hover {
    background-color: #3e8e41
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


